name: Back-end Continuous Integration

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master


jobs:
  integration:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8.6'

      - name: Adding project to PYTHONPATH
        run: |
          PYTHONPATH=${PYTHONPATH}:${PWD}

      - name: Installing Virtuenv
        run: |
          sudo pip install virtualenv

      - name: Install dependencies
        run: |
          virtualenv -p python3.8 env
          source ./env/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
          pip uninstall psycopg2
          y
          pip uninstall psycopg2-binary
          pip install psycopg2-binary
          cd env/lib/python3.8/site-packages
          echo "$(pwd)"
          zip -r9 ../../../../function.zip .

      - name: Adding API App to Zipfile
        run: |
          echo "$(pwd)"
          chmod -R 777 .
          zip -g ./function.zip -r app
      
      - uses: actions/upload-artifact@v2
        with:
          name: testZippedLambda
          path: ./function.zip