name: Back-end Continuous Integration

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master


jobs:
  integration:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8.6'

      - name: Adding project to PYTHONPATH
        run: |
          PYTHONPATH=${PYTHONPATH}:${PWD}

      - name: Upgrading pip
        run: |
          sudo pip install virtualenv
          python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          virtualenv -p python3.8 env
          echo "source ./env/bin/activate" | bash
          pip install -r requirements.txt
          cd env/lib/python3.8/site-packages
          echo "$(pwd)"
          zip -r9 ../../../../function.zip .

      - name: Adding API App to Zipfile
        run: |
          echo "$(pwd)"
          chmod -R 777 .
          zip -g ../function.zip -r app
      
      - uses: actions/upload-artifact@v2
        with:
          name: testZippedLambda
          path: ./function.zip